{% extends "base.html" %}
{% load static %}

{% block title %}Наши правила{% endblock %}
  {% block content %}
      <div class="container py-5">                        
        <h1>Правила нашей гостиницы</h1>

    <section>
        <h2>Комфорт</h2>
        <p>Мы стремимся предоставить каждому гостю уютную атмосферу для отдыха и работы. Ваш комфорт — наша приоритетная задача. Наслаждайтесь спокойствием и заботой, которые мы предлагаем.</p>
    </section>

    <section>
        <h2>Гостеприимство</h2>
        <p>В нашей гостинице вы всегда найдете доброжелательное отношение и внимание к каждому запросу. Мы гордимся тем, что создаем атмосферу, где каждый чувствует себя как дома.</p>
    </section>

    <section>
        <h2>Безопасность</h2>
        <p>Мы заботимся о вашем спокойствии и безопасности. В гостинице действуют все меры для обеспечения вашего комфорта и защиты. Вы можете быть уверены в надежности нашего обслуживания.</p>
    </section>

    <section>
        <h2>Порядок</h2>
        <p>Мы ценим чистоту и порядок в каждой детали. Просим гостей поддерживать порядок в номерах и общественных зонах, чтобы каждый мог наслаждаться чистой и уютной атмосферой.</p>
    </section>

    <section>
        <h2>Респект</h2>
        <p>Уважение друг к другу — основа комфортного пребывания. Мы просим всех гостей соблюдать вежливость и уважение к персоналу и другим посетителям гостиницы.</p>
    </section>
      </div>
    {% endblock %}